<% if notice %>
  <%= render "layouts/notice" %>
<% end %>

<p>
  <strong>Classroom:</strong>
  <%= @timetable.classroom %>
</p>

<%= link_to 'Edit', edit_timetable_path(@timetable) %> |
<%= link_to 'Back', timetables_path %>
