<nav class="uk-navbar uk-margin-large-bottom uk-fixed-nav">
  <a class="uk-navbar-brand uk-hidden-small" href="/">
    Diploma
  </a>
  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav uk-hidden-small">
      <li>
        <div class="uk-navbar-content">
          <form action="" class="uk-search" data-uk-search>
            <input class="uk-search-field" type="search" placeholder="Поиск...">
          </form>
        </div>
      </li>
      <li>
        <a href="/"><i class="uk-icon-home"></i> Главная</a>
      </li>
      <li>
        <a href="/settings"><i class="uk-icon-cog"></i> Настройки</a>
      </li>
      <% if user_signed_in? %>
      <li class="uk-parent" data-uk-dropdown="{mode:'click'}">
        <a><i class="uk-icon-user"></i> Аккаунт: <%= current_user.name %></a>
        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li>
              <%= link_to current_user do %>
              <i class="uk-icon-desktop"></i> Открыть профиль
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
              <i class="uk-icon-sign-out"></i> Выйти из системы
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <% end %>
      <li>
        <a href="/help"><i class="uk-icon-info"></i> Помощь</a>
      </li>
    </ul>
  </div>
  <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
  <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
</nav>
