nav.navbar.navbar-fixed-top.navbar-default
  .container-fluid
    .navbar-header

      button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand href="#"
        = full_title(yield(:title))

    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a href="/" 
            =' icon "home"
            | Главная
        li
          a href="/settings"
            =' icon "gear"
            | Настройки

        - if user_signed_in?
          li.dropdown
            a.dropdown-toggle role="button" data-toggle="dropdown"
              | Аккаунт:
              = current_user.name
              span.caret

            .uk-dropdown.uk-dropdown-navbar
              ul.uk-nav.uk-nav-navbar
                li
                  = link_to current_user do
                    =' icon "desktop"
                    | Открыть профиль
                li
                  = link_to destroy_user_session_path, :method => :delete do
                    =' icon "sign-out"
                    | Выйти из системы
        li
          a href="/help"
            =' icon "info-circle"
            | Помощь


      form.navbar-form.navbar-right role="search"
        .input-group
          input.form-control.typeahead type="text" placeholder="Поиск..."
          span.input-group-btn
            button.btn.btn-primary.active type="submit"
              = icon "search"
