<div class="uk-sticky-placeholder">
  <div class="uk-panel uk-panel-box" data-uk-sticky="{top:65}">
    <ul class="uk-nav uk-nav-side">
      <li class="uk-nav-header">Студенты</li>
      <li>
        <%= link_to students_path do %>
          <i class="uk-icon-list"></i> Список студентов
        <% end %>
      </li>
      <li>
        <%= link_to new_student_path do %>
          <i class="uk-icon-plus"></i> Новый студент
        <% end %>
      </li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li class="uk-nav-header">Lel</li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li class="uk-nav-header">Lel</li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
      <li><a>lel</a></li>
    </ul>
  </div>
</div>
