<div class="uk-sticky-placeholder">
  <div class="uk-panel uk-panel-box" data-uk-sticky="{top:65}">
    <ul class="uk-nav uk-nav-side">
      <li class="uk-nav-header">Lel</li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li class="uk-nav-header">Lel</li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li class="uk-nav-header">Lel</li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
      <li><a href="#">lel</a></li>
    </ul>
  </div>
</div>
